<%= action_cable_meta_tag %>
<table style="width:100%">
    <tr>
        <td><b>
                <%= t("generic.Email") %> </b></td>
        <td><b>
                <%= t("generic.Status") %> </b></td>
    </tr>
    <%= render get_employee_list %>
</table>